# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history

# IDE settings
.idea/
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Build artifacts
app.*.symbols
app.*.map.json

# iOS specific
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine.podspec
/ios/Flutter/Flutter.podspec
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/xcshareddata/xcschemes/Runner.xcscheme

# Android specific
/android/.gradle/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/android/local.properties

# --- SANGAT PENTING UNTUK KEAMANAN ---
# Abaikan file environment yang berisi kunci rahasia dan kredensial.
*.env